body{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    background-image: url(./images/img3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    

}
.parent{
    width: 350px;
    background-color: #efefee;
    box-shadow: 5px 5px  20px 15px rgba(19, 19, 18, 0.3);
    text-align: center;
    padding: 30px;
    margin: 12% auto 0 ;
    border-radius: 6px;
    
}

#p{
    font-size: 20px;
    padding: 0px 0px 10px ;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: capitalize;
    font-weight:900;
    letter-spacing: 0.9px;
    color: #1c8aDB;
    margin-bottom: -8px;

}
#text{
    padding: 13px;
    border-radius: 6px;
    outline: none;
    margin: 15px;
    width: 85%;
    /* border: 1px solid #999; */
    border: none;
    outline: none;
    cursor: auto;
    background-color: none;


}
#mail{
    padding: 13px;
    border-radius: 6px;
    outline: none;
    width: 85%;
    /* border: 1px solid #999; */
    border: none;
    outline: none;
    cursor: auto;
    
}
.parent p {
    margin: 15px 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
}
#link{
    cursor: pointer;
    
}
#link:hover{
    color: red;
}
#btn{
 width: 80%;
 background-color: #1c8aDB;
 color: #efefee;
 padding: 10px;
 border-radius: 6px;
 border: none;
 outline: none;
 margin: 10px auto 0px ;
 font-family:Arial, Helvetica, sans-serif ;
 text-transform: uppercase;
 letter-spacing: 0.6px;
 font-size: 15px;
 cursor: pointer;
 font-weight: bolder;

}
::placeholder{
color: rgb(202, 185, 164);
}

#text:hover{
    box-shadow: 1px 1px 6px 3px rgb(94, 143, 143);
    transition: all 0.3s ease 0.1s;
}
#mail:hover{
    box-shadow: 1px 1px 6px 3px rgb(94, 143, 143);
    transition: all 0.3s ease 0.1s;
}
#btn:hover{
    box-shadow: 1px 1px 6px 3px rgb(94, 143, 143);
    transition: all 0.3s ease 0.1s;
    
}
